@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Lexend', sans-serif;
}

h1 {
  color: #0418A4;
  font-size: 2rem;
  font-weight: 600;
  margin: 1.5rem;
}

h2 {
  color: #0418A4;
  font-size: 1.5rem;
  margin: 1.67rem;
}

h3 {
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
}

.filters-buttons, .sorting-buttons {
  margin: 1.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-button, .sorting-button {
  color: #0418A4;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.7rem 1.3rem;
  margin: 0.2rem;
  border-radius: 25px;
  width: 8rem;
  border: 2px solid #0417a400;
}

.filter-button {
  background-color: #CCFFE2;
}

.sorting-button {
  background-color: #FFECEA;
}

.active-filter {
  background-color: #0418A4;
  color: #FFFFFF;
}

.active-sorting {
  background-color: #FF6589;
  color: #FFFFFF;
}

button:hover {
  cursor: pointer;
  border: 2px solid #0418A4;
}

.recipe-grid-container {
  display: grid;
  grid-template-columns: 1fr;

}

.recipe-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border: 2px solid silver;
  border-radius: 17px;
  padding-bottom: 0.7rem;
}

.recipe-card:hover {
  border: 2px solid #0418A4;
}

.recipe-card img {
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}

.recipe-card p, h3 {
  margin: 0.5rem;
}

hr {
  height: 1px;
  width: 50%;
  background-color: silver;
  margin: 0.3rem;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
  text-align: center;
  margin: 0.5rem;
}

/* Media Queries */

@media screen and (min-width: 600px) {
  .recipe-grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .recipe-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  h3 {
    padding-left: 0;
  }

}